@media screen and (max-width: 600px) {
    .defilant {
        background-color: black;
        height: 45vw;
        min-height: 400px;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    .defilant img {
        width: auto;
        height: 400px;
        left: 10%;
        /* Placez le côté gauche de l'image à 50% du conteneur parent */
        transform: translateX(-10%);
    }

    .defilant span {
        font-size: 40px;
    }

    .defilant a {
        font-size: 20px;
    }

    .tech .txt {
        position: static;
        left: 0;
        margin: 0;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        padding-bottom: 0;
    }

    .tech {
        height: 100%;
    }

    .tech p {
        margin-left: 10px;
    }

    .tech .btn {
        margin-left: 30px;
        border: 1px solid black;
        text-align: center;
    }

    .tech .btn:hover {
        border: #565e75 1px solid;
        color: #565e75;
    }
}

@media screen and (max-width: 700px) {
    .tech p {
        font-size: large;
    }

    .tech .btn {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 900px) {
    nav ul {
        display: none;
    }

    .logo {
        margin: 0;
        padding: 0;
    }

    nav {
        justify-content: center;
    }
}

@media screen and (min-width: 900px) {
    .colonne1 {
        margin-left: 25%;
    }
    .colonne2 {
        margin-right: 25%;
    }
}