@media screen and (max-width: 600px) {
    .defilant {
        background-color: black;
        height: 45vw;
        min-height: 400px;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    
    .defilant img {
        width: auto;
        height: 400px;
        left: 10%; /* Placez le côté gauche de l'image à 50% du conteneur parent */
        transform: translateX(-10%);
    }
    
    .defilant span {
        font-size: 40px;
    }
    
    .defilant a {
        font-size: 20px;
    }
  }



  @media screen and (max-width: 900px) {
    nav ul {
        display: none;
    }
    .logo {
        margin: 0;
        padding: 0;
    }
    nav {
        justify-content: center;
    }
  }